Holaaaa!

In [9]:
import pandas as pd
df = pd.read_csv("../data/raw/tu_dataset.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   colA    3 non-null      int64
 1   colB    3 non-null      object
 2   colC    3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

   colA colB  colC
0     1    a  0.50
1     2    b  0.75
2     3    c  1.00